
<!DOCTYPE html>
<html>
<head>
  <title>Matches</title>
  <meta charset="utf-8" />


  <!-- Scrollbar Custom CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
   <!-- To change color of hamburger icon when hovering over it -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

   <!-- To change color of hamburger icon when hovering over it -->

     <link rel="stylesheet" type="text/css" href="../src/css/style.css">
    <script type="text/javascript">
        $(document).ready(function(){



          $(function() {
              $('#hamburger').hover(function() {
                $('.icon-bar').css('background-color', '#FFB978');
              }, function() {
                // on mouseout, reset the background colour
                $('.icon-bar').css('background-color', '');
              });
            });
        });

    </script>

</head>

<body>
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- This is for the mobile navbar display, hamburger icon displayed -->
            <div class="navbar-header">
                <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-options" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/meet">Cinder</a>
            </div>

            <!-- This is for desktop/wider screens, i.e. not collapsed, tabs displayed -->
            <div class="collapse navbar-collapse" id="navbar-options">
                <ul class="nav navbar-nav">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/meet">Meet People</a></li>
                    <li><a href="/matches">Matches</a></li>
                    <li><a href="/your_feedback">Feedback</a></li>
                    {% if current_user.is_authenticated %}
                    <li>
                    <form class="form-inline" method="post" action="{{ url_for('api.logout') }}">
                        <button class="nav-btn" type="submit">Logout</button>
                    </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <!--  <div class="wrapper"> -->
            <!-- Sidebar Holder -->
 <!--            <nav id="sidebar">
                <ul class="list-unstyled components">
                    <li class = "active">
                        <a href="#" role="button" onclick="setUpList(true);">New Matches</a>
                    </li>

                    <li>
                        <a href="#" role="button" onclick="setUpList(false);">Past Matches</a>
                    </li>
                </ul>
            </nav>
    </div> -->

     <!-- Page Content Holder -->
            <div id="content_1">
                <h1 class="feedback-header">You can view your matches here</h1>
                <hr>
                <h5 style="text-align: center; color: #606060;">Click "View Profile" to learn more about them and arrange a date!</h5>
                <hr>
                <div class="list-group" id="feedbackList">
                    {% for i in matches %}
                        <li class='list-group-item'>
                            <div class='feedback_container'>
                                <div class='thumbnail'>
                                    <img src="{{url_for('api.getPicture', uid=i.mate_id)}}" class='match-img'>
                                </div>
                                <div class='feedback_meta_container'>

                                    <h1>{{i.profile.first}} {{i.profile.last}}, {{i.profile.age}}</h1>
                                    <p>Date you matched: {{i.match.match_date.date()}}</p>
                                    <script>console.log("{{i.mate_id}}")</script>
                                    <a href="{{url_for('main.match_profile', uid=i.mate_id)}}" class="btn btn-primary" >View Profile</a>
                                </div>
              
                                </div></li>
                    {% endfor %}
                </div>
        </div>
        <!-- modal that pops up when a date request is sent -->
        <div id="requestModal" class="modal myModal">
            <!-- Modal content -->
          <div class="modal-content modalContent">
            <div id="modalHeader" class="modal-header matchModalHeader">
              <span class="close" id="closeRequest">&times;</span>
              <h2>The following matches have requested a date!</h2>
            </div>
            <ul>
                {% for m_match in pendingDate %}
                <li>
                    <div class="matchRequestContainer">
                        <div class='feedback_meta_container'>
                            <h1 id="nameField" class='feedback-box-header'>{{m_match.name}}</h1>
                             <h2 id="dateField" class='feedback-box-header'>{{m_match.date}}</h2>
                            <button type='button' class='btn btn-primary active' onclick='handleRequest("{{m_match.match.id}}", true)'>Yes</button>
                            <button type='button' class='btn btn-primary active' onclick='handleRequest("{{m_match.match.id}}", false)'>No</button>
                        </div>
                    </div>
                </li>
               {% endfor %}
            </ul>
          </div>
    </div>
    
    <div id="congratsModal" class="modal myModal">
            <!-- Modal content -->
          <div class="modal-content modalContent">
            <div id="modalHeader" class="modal-header matchModalHeader">
              <span class="close" id="closeCongrats">&times;</span>
              <h2>Congratulations you have a date!</h2>
            </div>
          </div>
    </div>
<!--         <script>

            function add_match(image, name, date)
            {
                var curr = "<li class='list-group-item'>"
                    +           "<div class='feedback_container'>"
                    +               "<img src='" + image + "' class='img-circle'>"
                    +               "<div class='feedback_meta_container'>"
                    +               "<h1>" + name + " - " + date + "</h1>"
                    +               "<a href='/match_profile'>View Profile</a>"
                    +       "</div></div></li>";
                $('#feedbackList').append(curr);
            }
            // function setUpList(isNew)
            // {
            //     $('#feedbackList').empty();
            //     //if isNew is true, then we want to display the new matches
            //     var m_data = [  {name:"Sarah", date:"10-10-2017", image:"sarah.jpeg"},
            //                     {name:"Becky", date:"11-11-2017", image:"sarah.jpeg"},
            //                     {name:"Mandy", date:"12-12-2017", image: "sarah.jpeg"}];
            //     //need to figure out how to distinguish which matches are new/old
            //     for(i = 0; i < m_data.length; i++)
            //     {
            //         add_match(m_data[i].image, m_data[i].name, m_data[i].date);
            //     }
            // }
            window.onload = function () {setUpList(true);};
        </script> -->
        <script>
            //reference to the request modal
            var requestModal = document.getElementById("requestModal");
            var congratsModal = document.getElementById("congratsModal");
            //reference to the close button in request modal
            var closeRequest = document.getElementById("closeRequest");
            var closeCongrats = document.getElementById("closeCongrats");

            function checkForRequest()
            {
                //check the matches list for potential requests from existing matches
                if("{{shouldPop}}" == "True")
                {
                    requestModal.style.display = "block";
                }
                //console.log("{{matches[0].match.id}}");
            }
            window.onload = checkForRequest;

            function handleRequest(uid, response)
            {
                //call getDate request here
                var xhttp = new XMLHttpRequest();
                const url = '/api/acceptDate';
                var match_id = uid;
                const jsonStr = JSON.stringify({uid: match_id, response: response});
                xhttp.open('POST', url);
                xhttp.send(jsonStr);
                console.log(jsonStr);

                //close the modal
                requestModal.style.display = "none";
                congratsModal.style.display = "block";
            }

            closeRequest.onclick = function(){
                requestModal.style.display = "none";
            }
            closeCongrats.onclick = function(){
                congratsModal.style.display = "none";
            }
            window.onclick = function(event) {
                if(event.target == requestModal)
                    requestModal.style.display = "none";
                if(event.target == congratsModal)
                    congratsModal.style.display = "none";
            }
        </script>
</body>

</html>
