<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../src/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDioh5mGQkod645juHXUlcPQsx-e8uhZDg&libraries=places"></script>


	<title>Cinder</title>

	<script type="text/javascript">
		$(document).ready(function(){
			//fill in profile form with user's information

			$("input[name = 'first']").val("{{current_user.profile.first}}");
			$("input[name = 'last']").val("{{current_user.profile.last}}");
			$("input[name = 'email']").val("{{current_user.email}}");
			$("input[name = 'age']").val("{{current_user.profile.age}}");
			$("input[name = 'location']").val("{{current_user.profile.location}}");

			var gender;
			if("{{current_user.profile.gender}}" == "M" ){ gender = "Male"}
			else if("{{current_user.profile.gender}}" == 'F'){gender = "Female"}
			else if("{{current_user.profile.gender}}" == 'O'){gender = "Other"}

			var interest;
			if("{{current_user.interested_in}}" == "M" ){ interest = "Male"}
			else if("{{current_user.interested_in}}" == 'F'){interest = "Female"}
			else if("{{current_user.interested_in}}" == 'O'){interest = "Other"}

			$("select[name = 'gender']").val(gender);
			$("select[name = 'interest']").val(interest);
			
			//question 1
			if("{{current_user.answers[0]}}" == '0')
				{ $("#q1_0").prop( "checked", true );}
			else 
				{$("#q1_1").prop( "checked", true );}
		    //question 2
			if("{{current_user.answers[1]}}" == '0')
				{ $("#q2_0").prop( "checked", true );}
			else 
				{$("#q2_1").prop( "checked", true );}
			//q3
			if("{{current_user.answers[2]}}" == '0')
				{ $("#q3_0").prop( "checked", true );}
			else 
				{$("#q3_1").prop( "checked", true );}
			//q4
			if("{{current_user.answers[3]}}" == '0')
				{ $("#q4_0").prop( "checked", true );}
			else 
				{$("#q4_1").prop( "checked", true );}
			//q5
			if("{{current_user.answers[4]}}" == '0')
				{ $("#q5_0").prop( "checked", true );}
			else 
				{$("#q5_1").prop( "checked", true );}

			$("textarea[name = 'bio']").val("{{current_user.profile.bio}}");

		




			$(document).on('change', ':file', function() {
			    var input = $(this),
			        numFiles = input.get(0).files ? input.get(0).files.length : 1,
			        label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
			    input.trigger('fileselect', [numFiles, label]);
			});


			$(':file').on('fileselect', function(event, numFiles, label) {
		        $("#file_name").val(label);
			});

			$(function() {
			  $('#hamburger').hover(function() {
			    $('.icon-bar').css('background-color', '#FFB978');
			  }, function() {
			    // on mouseout, reset the background colour
			    $('.icon-bar').css('background-color', '');
			  });
			});



		});
	</script>


</head>
<body>
<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- This is for the mobile navbar display, hamburger icon displayed -->
			<div class="navbar-header">
		        <button id="hamburger" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-options" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
		        </button>
      			<a class="navbar-brand" href="/meet">Cinder</a>
    		</div>

    		<!-- This is for desktop/wider screens, i.e. not collapsed, tabs displayed -->
    		<div class="collapse navbar-collapse" id="navbar-options">
					<ul class="nav navbar-nav">
    				<li><a href="/profile">Profile</a></li>
    				<li><a href="/meet">Meet People</a></li>
    				<li><a href="/matches">Matches</a></li>
    				<li><a href="/your_feedback">Feedback</a></li>
    				{% if current_user.is_authenticated %}
    				<li>
    				<form class="form-inline" method="post" action="{{ url_for('api.logout') }}">
    					<button class="nav-btn" type="submit">Logout</button>
    				</form>
    				</li>
    				{% endif %}
    				<!-- {% if current_user.is_authenticated %}
						<li>
							<form method="post" action="{{ url_for('api.logout') }}">
								<button type="submit">Logout</button>
							</form>
						</li>
						{% endif %} -->
    			</ul>
    		</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1 style="margin-bottom: 15px;">Profile</h1>
				<h5>Edit your profile and hit "Save Changes" when you're finished!</h5>
				<hr></hr>
<!-- profile form -->
				<form method="post" action="{{ url_for('api.updateProfile') }}">
					<div class="form-group">
			      		<input type="text" name="first" class="form-control"  placeholder="First Name" required>
			      	</div>
			      	<!-- Last Name -->
			      	<div class="form-group">
			      		<input type="text" name="last" class="form-control"  placeholder="Last Name" required>
			      	</div>
			      	<!-- Email -->
			      	<div class="form-group">
			      		<input type="email" name="email" class="form-control"  placeholder="Email" required>
			      	</div>
			      	<!-- Password -->
			      	<div class="form-group">
			      		<input type="password" name="pswd" class="form-control"  placeholder="New password, leave blank if you would like to keep your old password">
			      	</div>
			      	<!-- Age -->
			      	<div class="form-group">
			      		<input type="number" name="age" class="form-control"  placeholder="Age" required>
			      	</div>
			      	<!-- Location -->
			      	<div class="form-group">
					    <input id="autocomplete" class="form-control" placeholder="Location" type="text" name="location" required/>
				    </div>
				    <!-- Latitude, hidden field -->
				    <div class="form-group">
					    <input id="cityLat" name="latitude"type="text" hidden/>
				    </div>
				    <!-- Longitude, hidden field -->
				    <div class="form-group">
					    <input id="cityLng" name="longitude"type="text" hidden/>
				    </div>
				    <!-- Gender dropdown -->
			      	<label class="sign-label" for="gender-select">Select your Gender</label>
				    <select class="form-control" name="gender" id="gender-select">
				      <option value="Male">Male</option>
				      <option value="Female">Female</option>
				      <option value="Other">Other</option>
				    </select>
				    <!-- Interested in dropdown -->
				    <label class="sign-label" for="interest-select">Interested In:</label>
				    <select name="interest" class="form-control" id="interest-select">
				      <option value="Male">Male</option>
				      <option value="Female">Female</option>
				      <option value="Other">Other</option>
				    </select>
				    <!-- Question 1 -->
				    <label class="sign-label" for="one">Do you like outdoor activities?</label>
				    <div class="form-check" name="one">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q1" id="q1_0" value="0">
					    Yes
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q1" id="q1_1" value="1">
					    No
					  </label>
					</div>
				 	<!-- Question 2 -->
				 	 <label class="sign-label" for="two">Do you consider yourself an introvert or extrovert?</label>
				    <div class="form-check" name="two">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q2" id="q2_0" value="0">
					    Introvert
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q2" id="q2_1" value="1">
					    Extrovert
					  </label>
					</div>
					<!-- Question 3 -->
					<label class="sign-label" for="three">Do you want to have children one day?</label>
				    <div class="form-check" name="three">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q3" id="q3_0" value="0">
					    Yes
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q3" id="q3_1" value="1">
					    No
					  </label>
					</div>
					<!-- Question 4 -->
					<label class="sign-label" for="four">Do you like the warm or the cold?</label>
				    <div class="form-check" name="four">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q4" id="q4_0" value="0">
					    Warm
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q4" id="q4_1" value="1">
					    Cold
					  </label>
					</div>
					<!-- Question 5 -->
					<label class="sign-label" for="five">Are you looking for something serious?</label>
				    <div class="form-check" name="five">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q5" id="q5_0" value="0">
					    Yes
					  </label>
					</div>
					<div class="form-check">
					  <label class="form-check-label">
					    <input class="form-check-input" type="radio" name="q5" id="q5_1" value="1">
					    No
					  </label>
					</div>
					<!-- Bio -->
				    <div class="form-group">
					    <label for="bio">Please Write a Short Bio:</label>
					    <textarea name="bio" class="form-control" id="bio" rows="5"></textarea>
					</div>
					<div>
						<img class="pro_img" style="border: 1px solid black;" src="{{current_user.profile.photo}}">
					</div>
					<!-- Photo Upload -->
					<h3 class="photo-upload-header">Upload a Profile Photo:</h3>
					
					<div class="form-group">
					    <input type="file" accept="image/*" class="form-control-file" name="profile_image">
					</div>
					<div >
				        <button type="submit" class="btn btn-success" style="margin-bottom: 50px; margin-top: 5px;">Save Changes</button>
					</div>

				</form>
			</div>
		</div>
	</div>

	<script>
		function initialize() {
			var input = document.getElementById('autocomplete');
			var autocomplete = new google.maps.places.Autocomplete((input), {types: ['(cities)']});
			google.maps.event.addListener(autocomplete, 'place_changed', function() {
         	var place = autocomplete.getPlace();
            document.getElementById('cityLat').value = place.geometry.location.lat();
            document.getElementById('cityLng').value = place.geometry.location.lng();
   		 });
		}

		google.maps.event.addDomListener(window, 'load', initialize);
	</script>

</body>
</html>
