/*Base navbar color and border*/
.navbar-default {
    background-color: #FFB978;
    border-color:#FFB978;
    border-radius: 0;
    margin-bottom: 0px;
    z-index: 1000;
}

/* for "Cinder" branding on navbar */
.navbar-default .navbar-brand {
	font-family: "Avenir";
    color: white;
    text-shadow: 2px 2px 1px #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* for tabs on navbar */
.navbar-default .navbar-nav > li > a {
    color: white;
    font-family: "Avenir";
    font-size: 16px;
}

.nav-btn {
    color: white;
    font-family: "Avenir";
    font-size: 16px;
    outline-style: none;
    outline-width: 0;
    outline-color: transparent;
    background-color: transparent;
    border: none;
    padding: 14px 15px 15px 15px;
    line-height: 20px;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-shadow: 2px 2px 1px #000000;
}

.nav-btn:hover,
.nav-btn:focus{
    color: white;
    text-shadow: 2px 2px 1px #000000;
}

/*for hamburger icon when navbar is collapsed*/
.navbar-default .navbar-toggle:focus  {
    background-color: #FFB978 !important;
}

.navbar-default .navbar-toggle:hover{
	background-color: white !important;
}

.navbar-default .navbar-collapse{
	border-color: white;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}

/*for header text at top of login page*/
.main-header{
	font-family: "Avenir";
	text-align: center;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (min-width: 768px){
.header-top{
	margin-top: 120px;
}
}

.header-bottom{

}

#header-section{
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	background-image: url("../img/dream.jpg");
}

/* Facebook login button, code from https://codepen.io/davidelrizzo/pen/vEYvyv*/
.loginBtn {
  font-family: "Avenir";
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

/*sign-up box css*/
#sign-up-jumbotron{
	margin-top: 30px;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 20px;
}

.sign-up-header{
	font-family: "Avenir";
	text-align: center;
}

.sign-up-form{
	font-family: "Avenir";
	border-top: 0px;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 2px solid grey;
	box-shadow: none;
	border-radius: 0px;
	padding-left: 0px;
}

.sign-up-form:hover{
	border-bottom: 2px solid #FFB978;
}

.sign-up-form:focus{
	border-bottom: 2px solid #FFB978;
}

.form-control:focus{
	-webkit-box-shadow: none;
}

.modal-btn{
  font-family: "Avenir";
}

.sign-btn{
	font-family: "Avenir";
  font-size: 18px;
  font-weight: 400;
  width: 60%;
}

/*Second section header, margin*/
.section-two{
  margin-left: 50px;
  margin-right: 50px;
  width: auto !important;
}


.second-header{
	color: #FFB978;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
	font-family: "Avenir";
	text-align: center;
	margin-top: 50px;
  margin-bottom: 50px;
}

/*Second section image and list*/
#mockup_img{
  height: auto;
  width: 350px;
  margin-top: 15px;
  margin-bottom: 30px;
}


.landing-list{
  text-align: left;
}

@media screen and (max-width: 768px){
  .section-two{
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media screen and (min-width: 768px){
.landing-list{
  margin-left: 20px;
}
}

.list-text{
  font-family: "Avenir";
  font-size: 16px;
  margin-bottom: 20px;
}


.selling-pt{
  font-family: "Avenir";
  font-size: 26px;
  font-weight: 500;
  color: #FFB978;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 50px;
    right: 0;
    font-family: "Avenir";
}
#content h1{
  font-size: 25px;
}
#content.active {
    width: 100%;
}

#content_1 {
    width: calc(100% - 250px);
    padding: 0px 40px 40px 40px
    min-height: 100vh;
    transition: all 0.3s;
    position: relative;
    top: 50px;
    right: 0;
    font-family: "Avenir";
    padding-left: 60px;
    margin: auto;
}

#content_1 h1{
  font-size: 25px;
}
#content_1.active {
    width: 100%;
}

/* ---------------------------------------------------
    Feedbacks
----------------------------------------------------- */
.feedback-header{
  font-family: "Avenir";
  color:  #606060;
  text-align: center;
}

.prompt-header{
  font-family: "Avenir";
  text-align: center;
  color: #606060;
}

.feedback-box-header{
  font-family: "Avenir";
  text-align: center;
  color: #606060;
}

.feedback_container {
  width: 900px;
  display: flex;
  padding:20px;
  justify-content: flex-start;

}

.feedback-text{
  font-family: "Avenir";
  font-weight: 300;
  font-size: 18px;
  color: #606060;
  text-align: center;
}

.feedback_meta_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  flex-direction: column;
  padding: 20px;
  background-color: #F8F8F8;
  width: 200px;
}
.feedback_meta_container button {
/*  background-color:#FFB978;
  color: #606060;*/
}

.list-group-item{
  background-color: #F8F8F8;
  border-color: grey;
}
.list-group-item-action a:hover{
  background-color: #FFB978;
}

/* ---------------------------------------------------
    Sidebar
----------------------------------------------------- */
.wrapper{
  display: flex;
  align-items: stretch;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    z-index: 999;
    background: #F8F8F8;
    color: #fff;
    transition: all 0.3s;
    border-right: 2px solid grey;

}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    margin-top:100px;
    padding: 40px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul li a {
    padding: 40px;
    font-size: 1.7em;
    display: block;
    color: #FFB978;
    font-family: "Avenir";
    text-align: center;
    font-weight: 600;
/*    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
*/
}
#sidebar ul li a:hover {
    color: #f48f41;
    background: #fff;
    text-decoration: none;

}

#sidebar ul li a:focus {
  text-decoration: 
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #FFB978;
}

/* ---------------------------------------------------
    Modal
----------------------------------------------------- */

 /* The Modal (background) */
.myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-left: 250px;
}

/* Modal Content/Box */
.modalContent {
    background-color: #FFB978;
    margin: 15% auto;  /*15% from the top and centered */
    padding: 20px;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
/* Modal Header */
#modalHeader {
    padding: 2px 16px;
    background-color: #FFB978;
    color: white;
}

/* Modal Body */
#modalBody {
    padding: 2px 16px;
    background-color: #FFB978;
  }

/* Modal Footer */
#modalFooter {
    padding: 10px 16px;
    background-color: #FFB978;
    color: white;
    display: flex;
    justify-content: space-between;
}
#modalFooter h3{
  font-size: 12px;
}

textarea{
  cols: 100;
}

.pac-container {
  z-index: 10000 !important;
}

.sign-label{
  margin-top: 5px !important;
  margin-bottom: 5px;
}

.form-check-label{
  font-weight: 300 !important;
}

.custom-file-input{
  font-weight: 300;
}

.photo-upload-header{
  font-size: 14px;
  font-weight: 700; 
}

#file_name{
  width: 80% !important;
  border: none !important;
}


/* Profile Page Styling */

.pro_img{
  width: 30% !important;
  height: 30% !important;
}

/* ---------------------------------------------------
    MATCH PROFILE PAGE STYLING
----------------------------------------------------- */
/*#match_profile_content
{
  display: flex;
  justify-content:flex-end;
}*/

#match_profile_sidebar
{
  width: 280px;
  top: 0;
  left: 0;
  min-height: 100vh;
  z-index: 999;
  background:  #F8F8F8;
  color: #fff;
  transition: all 0.3s;
}

#match_profile_sidebar ul.components {
    margin-top: 0px;
    padding: 40px 0;
    /*border-bottom: 1px solid #47748b;*/
}

.match_profile_sidebar_element 
{
  text-align: center !important;
  color: #606060;
  /*padding-left: 25px;*/
}

#match_profile_sidebar ul li a {
    padding: 40px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}
#match_profile_sidebar ul li a:hover {
    color: #FFB978;
    background: #fff;

}

#match_profile_sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #FFB978;
}

#match_profile_bio
{

  padding-top: 10px;
  padding-left: 25px;
}

.matchProfileItem
{
  background:#FFB978;
  padding: 15px;
  border-color: #070707;
  border-style: groove;
  margin-top: 5px;

}

.matches_button
{
  margin-top: 160px;
  margin-left: 60px;
}

#date_button
{
  color: #fff;
  width:180px;
  text-align: center;
  margin-left: 50px;
  margin-top: 15px;
}

/* ---------------------------------------------------
    Matches Profile Modals
----------------------------------------------------- */

/* Modal Header */
#unmatchModalHeader {
    padding: 2px 16px;
    background-color: #FFB978;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.decisionModalButtons{
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 80%; 
}

.decButton{
  margin-left: 10px;
}

.matchModalHeader{
  padding: 2px 16px;
  background-color: #FFB978;
  color: white;
}

.match-img{
  width: 200px !important;
}

/* ---------------------------------------------------
    Calendar styling
----------------------------------------------------- */
/* Month header */
.month {
    padding: 70px 25px;
    width: 100%;
    background: #1abc9c;
    text-align: center;
}

/* Month list */
.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
    float: left;
    padding-top: 10px;
}

/* Next button */
.month .next {
    float: right;
    padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

/* Days (1-31) */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color:#777;
}

/* Highlight the "current" day */
.days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
}

#time
{
  color: black;
  margin-left: 15px;
}

#time_container
{
  display: flex;
  align-items: flex-start;
}


.matchRequestContainer {
  width: 1000px;
  color: red;
  display: flex;
  padding:5px;
  justify-content: flex-start;
}
.matchRequestMetaContainer{

}

.hiddenData{
  display: none;
}
