/*Base navbar color and border*/
.navbar-default {
    background-color: #FFB978;
    border-color:#FFB978;
    border-radius: 0;
}

/* for "Cinder" on navbar */
.navbar-default .navbar-brand {
    color: white;
    text-shadow: 2px 2px 1px #000000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* for Tabs on navbar */
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 16px;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    text-shadow: 2px 2px 1px #000000;
}

/*for hamburger icon when navbar is collapsed*/

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: white !important;
}

.navbar-default .navbar-toggle:hover ~ .icon-bar {
	background-color: #FFB978;
}


.navbar-default .navbar-collapse{
	border-color: white;
}

.navbar-default .navbar-toggle{
	border-color: white;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}